// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



///=== Fonts ===///

// Regular font family
$text-font-stack: 'DM Sans', sans-serif;

// Accent font family
$accent-font-stack: 'Titan One', cursive;



///=== Colors ===///

// Brand color
$color-brand-primary: #D41443; // Color for Main headers and accent texts
$color-brand-secondary: #FFA5BA; // Color for Secondary headers and Hero header background circle
$color-brand-tertiary: #FFB8CA; // Color for Header bg

// Text color
$color-text-primary: #000; // Color for dark body text
$color-text-secondary: #907E82; // Color for lighter body text
$color-text-tertiary: #fff; // Color for white text

// Background color global
$color-bg-body-primary: #fff; // Background for section with white-ish sections
$color-bg-body-secondary: #FFB8CA; // Backgorund for Hero header
$color-bg-body-tertiary: #FFF5F6; // Background for about and contacts sections
$color-bg-mobile-menu: #E17992; // Background for Mobile menu

// Button color
$color-button-primary: $color-brand-primary; // Background for dark button
$color-button-primary-hover: #C7133E; // Background for dark button hover
$color-button-secondary: #fff; // Background for light button
$color-button-secondary-hover: #ECEBEB; // Background for light button hover
$color-button-tertiary: #FEA5BB; // Background for Social media icon
$color-button-tertiary-hover: $color-brand-primary; // Background for Social media icon hover

// Products 
$color-bg-products-primary: #FFB8CA; // Background for ICE CREAM box
$color-bg-products-secondary: #F0D1A5; // Background for ICE COFFEE box
$color-bg-products-tertiary: #C2E297; // Background for MILKSHAKES box

// Customer reviews
$color-reviews-bg: #FAFAFA; // Background for review box
$color-reviews-accent: #E1E1E1; // lines and quotation mark
$color-reviews-dot-primary: #C7133E; // Red dot
$color-reviews-dot-secondary: #D9D9D9; // grey dot
$color-reviews-icon: #D31342; // House icon

// Contacts
$color-contacts-accent-primary: #F0D1A5; // Background color for "CAFE" box
$color-contacts-accent-secondary: #C2E297; // Background color for "FOOD TRUCK" box
$color-contacts-accent-tertiary: #E1E1E1; // Color for lines
$color-contacts-bg: #FFF; // Background for contact items

// Footer
$color-footer-border-line: #E1E1E1;
$color-footer-icon-primary: $color-button-tertiary;
$color-footer-icon-secondary: $color-brand-primary;

///=== Miscellaneous ===///

// Container's maximum width
$container-max-width: 1280px;

// Media screen brakes
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

// container's padding
$container-padding-mobile: 20px;
$container-padding-tablet: 34px;
$container-padding-desktop: 115px;

// Animation
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Reviews Avatar background img
$review-thumb-bg-img: url('../images/customer-reviews/testimonials1@1x-85x85.jpg');
$review-thumb-bg-img-2x: url('../images/customer-reviews/testimonials1@2x-170x170.jpg');

// About background img
$about-bg-img: url('../images/about/about-background-mobile-@1X-320x133.png');
$about-bg-img-2x: url('../images/about/about-background-desktop-@2X-2560x1068.png');
$about-bg-img-desktop: url('../images/about/about-background-desktop-@1X-1280x534.png');
$about-bg-img-desktop-2x: url('../images/about/about-background-desktop-@2X-2560x1068.png');