// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

///=== Fonts ===///

// Regular font family
$text-font-stack: 'DM Sans', sans-serif;

// Accent font family
$accent-font-stack: 'Titan One', cursive;

///=== Colors ===///

// Brand color
$color-brand-primary: #d41443; // Color for Main headers and accent texts
$color-brand-secondary: #ffa5ba; // Color for Secondary headers and Hero header background circle
$color-brand-tertiary: #ffb8ca; // Color for Header bg

// Text color
$color-text-primary: #000; // Color for dark body text
$color-text-secondary: #907e82; // Color for lighter body text
$color-text-tertiary: #fff; // Color for white text

// Background color global
$color-bg-body-primary: #fff; // Background for section with white-ish sections
$color-bg-body-secondary: #ffb8ca; // Backgorund for Hero header
$color-bg-body-tertiary: #fff5f6; // Background for about and contacts sections
$color-bg-mobile-menu: #e17992; // Background for Mobile menu

// Button color
$color-button-primary: $color-brand-primary; // Background for dark button
$color-button-primary-hover: #c7133e; // Background for dark button hover
$color-button-secondary: #fff; // Background for light button
$color-button-secondary-hover: #ecebeb; // Background for light button hover
$color-button-tertiary: #fea5bb; // Background for Social media icon
$color-button-tertiary-hover: $color-brand-primary; // Background for Social media icon hover

// Products
$color-bg-products-primary: #ffb8ca; // Background for ICE CREAM box
$color-bg-products-secondary: #f0d1a5; // Background for ICE COFFEE box
$color-bg-products-tertiary: #c2e297; // Background for MILKSHAKES box

// Customer reviews
$color-reviews-bg: #fafafa; // Background for review box
$color-reviews-accent: #e1e1e1; // lines and quotation mark
$color-reviews-dot-primary: #c7133e; // Red dot
$color-reviews-dot-secondary: #d9d9d9; // grey dot
$color-reviews-icon: #d31342; // House icon

// Contacts
$color-contacts-accent-primary: #f0d1a5; // Background color for "CAFE" box
$color-contacts-accent-secondary: #c2e297; // Background color for "FOOD TRUCK" box
$color-contacts-accent-tertiary: #e1e1e1; // Color for lines
$color-contacts-bg: #fff; // Background for contact items

// Footer
$color-footer-border-line: #e1e1e1;
$color-footer-icon-primary: $color-button-tertiary;
$color-footer-icon-secondary: $color-brand-primary;

///=== Miscellaneous ===///

// Container's maximum width
$container-max-width: 1280px;

// Media screen brakes
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

// container's padding
$container-padding-mobile: 20px;
$container-padding-tablet: 34px;
$container-padding-desktop: 115px;

// Animation
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Reviews Avatar background img
$review-thumb-bg-img1: url('../images/customer-reviews/testimonials1@1x-85x85.jpg');
$review-thumb-bg-img1-2x: url('../images/customer-reviews/testimonials1@2x-170x170.jpg');

$review-thumb-bg-img2: url('../images/customer-reviews/testimonials2@1x-85x85.jpg');
$review-thumb-bg-img2-2x: url('../images/customer-reviews/testimonials2@2x-170x170.jpg');

$review-thumb-bg-img3: url('../images/customer-reviews/testimonials3@1x-85x85.jpg');
$review-thumb-bg-img3-2x: url('../images/customer-reviews/testimonials3@2x-170x170.jpg');

// About background img
$about-bg-img-l: url('../images/about/about-background-mobile-@1X-L.png');
$about-bg-img-p: url('../images/about/about-background-mobile-@1X-P.png');
$about-bg-img-2x-l: url('../images/about/about-background-mobile-@2X-L.png');
$about-bg-img-2x-p: url('../images/about/about-background-mobile-@2X-P.png');
$about-bg-img-desktop-l: url('../images/about/about-background-desktop-@1X-L.png');
$about-bg-img-desktop-p: url('../images/about/about-background-desktop-@1X-P.png');
$about-bg-img-desktop-2x-l: url('../images/about/about-background-desktop-@2X-L.png');
$about-bg-img-desktop-2x-p: url('../images/about/about-background-desktop-@2X-P.png');

// Contacts background img
$contact-bg-img: url('../images/contacts/bg-contacts-desktop-1x-1280x382.png');
$contact-bg-img-2x: url('../images/contacts/bg-contacts-desktop-2x-2560x764.png');
