<div class="container container--bg-tertiary container--about-bg-milk">
  <section class="about" id="about">
    <!-- HEADER -->

    <h3 class="header-h3">tradition and love</h3>
    <h2 class="header-h2">how it’s made?</h2>

    <!-- LEFT SECTION -->

    <div class="about__left-section">
      <img
        class="about__image"
        alt="Krowa / dzbanek mleka / Bio eco"
        src="../../goit-icecream-group-5/src/images/about/about-cow-mobile-@1X-280x279.png"
        srcset="
          ../../goit-icecream-group-5/src/images/about/about-cow-mobile-@1X-280x279.png     280w,
          ../../goit-icecream-group-5/src/images/about/about-cow-mobile-@2X-560x558.png     560w,
          ../../goit-icecream-group-5/src/images/about/about-cow-tablet-@1X-340x339.png     340w,
          ../../goit-icecream-group-5/src/images/about/about-cow-tablet-@2X-680x678.png     680w,
          ../../goit-icecream-group-5/src/images/about/about-cow-desktop-@1X-516x516.png    516w,
          ../../goit-icecream-group-5/src/images/about/about-cow-desktop-@2X-1032x1032.png 1032w
        "
        sizes="(min-width: 1280px) 516px, (min-width: 768px) 340px, 280px"
      />
    </div>

    <!-- RIGHT SECTION -->

    <div class="about__right-section">
      <p class="about__text about__text--bold">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt.
      </p>
      <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>

      <button type="button" class="btn-light btn-light--about">
        Read more
        <svg class="btn-light--svg btn-light--margin-left-big">
          <use href="./images/icons.svg#icon-arrow-btn"></use>
        </svg>
      </button>
    </div>
  </section>

  <!-- MODAL WINDOW -->

  <div class="about__modal is-hidden">
    <div class="modal">
      <button type="button" class="modal__btn">X</button>

      <p class="about__text about__text--bold">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab sunt suscipit dignissimos
        aliquam qui quaerat aspernatur delectus et quia iusto dicta ad nam illo ea dolorum, harum
        recusandae perferendis autem necessitatibus iste aliquid laudantium provident illum.
        Praesentium illum optio at! Dolor, deleniti odio esse laboriosam sit quam, incidunt
        perferendis at eum pariatur ab sunt. Illum quidem quasi a iure adipisci sit libero corporis
        inventore odit!
      </p>

      <p class="about__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio labore consectetur explicabo
        porro maxime aliquid perferendis quos. Neque maxime sit ab, sed, reprehenderit impedit
        tempore fugiat illo aliquam minima ipsum! Obcaecati aspernatur reprehenderit doloribus
        beatae, ipsum, praesentium veniam earum quam doloremque veritatis quibusdam aliquid commodi
        vitae quod magnam, labore ducimus.
      </p>

      <p class="about__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nihil, expedita magni nulla
        quasi voluptas vel rem quia reprehenderit ab omnis facilis commodi suscipit distinctio
        doloribus mollitia aliquam reiciendis pariatur vitae hic! Deleniti, corrupti? Ullam labore
        commodi quisquam!
      </p>

      <p class="about__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis provident eveniet quos ab
        nulla possimus ipsam explicabo, soluta, repellat eum, ex obcaecati! Esse labore itaque
        possimus fugit dicta, vel eum saepe quae, at consequuntur exercitationem eaque dolore nihil
        voluptatem error veritatis impedit repellendus doloribus! Error sint quod architecto sequi
        blanditiis quia libero necessitatibus minima officiis odit. Aliquid tempore provident
        quisquam, porro, saepe dolorem excepturi molestias laudantium deserunt doloribus accusamus.
        Quibusdam magni, blanditiis nihil accusantium nam fugit pariatur necessitatibus aspernatur
        eaque officia quos est, iure et rerum earum mollitia ducimus dolor deleniti officiis,
        deserunt aliquam voluptatem culpa odio doloribus.
      </p>

      <p class="about__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eos nam sint illo obcaecati!
        Nesciunt dolore cupiditate, temporibus iste magni quaerat soluta ea facere voluptatibus, cum
        beatae repellat architecto?
      </p>

      <button type="button" class="btn-light btn-light--return">
        Return
        <svg class="btn-light--svg btn-light--margin-left-big btn-light__svg--return">
          <use href="./images/icons.svg#icon-arrow-btn"></use>
        </svg>
      </button>
    </div>
  </div>

  <script src="./js/about-modal.js"></script>
</div>
