<div class="container container--bg-tertiary container--bg-milk">
  <section class="about">
    <!-- HEADER -->

    <h3 class="header-h3">tradition and love</h3>
    <h2 class="header-h2">how it’s made?</h2>

    <!-- LEFT SECTION -->

    <div class="about__left-section">
      <img
        class="about__image"
        alt="Krowa / dzbanek mleka / bio eco"
        src="../../goit-icecream-group-5/src/images/about/about-cow-mobile-@1X-280x279.png"
        srcset="
          ../../goit-icecream-group-5/src/images/about/about-cow-mobile-@1X-280x279.png     280w,
          ../../goit-icecream-group-5/src/images/about/about-cow-mobile-@2X-560x558.png     560w,
          ../../goit-icecream-group-5/src/images/about/about-cow-tablet-@1X-340x339.png     340w,
          ../../goit-icecream-group-5/src/images/about/about-cow-tablet-@2X-680x678.png     680w,
          ../../goit-icecream-group-5/src/images/about/about-cow-desktop-@1X-516x516.png    516w,
          ../../goit-icecream-group-5/src/images/about/about-cow-desktop-@2X-1032x1032.png 1032w
        "
        sizes="(min-width: 1280px) 516px, (min-width: 768px) 340px, 280px"
      />
    </div>

    <!-- RIGHT SECTION -->

    <div class="about__right-section">
      <p class="about__text about__text--bold">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt.
      </p>
      <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
      <button type="button" class="btn-light btn-light--about">
        Read more
        <svg class="btn-light--svg btn-light--margin-left-big">
          <use href="./images/icons.svg#icon-arrow-btn"></use>
        </svg>
      </button>
    </div>
  </section>
</div>
