<div class="container container--bg-tertiary container--contact-bg">
  <section class="contacts" id="contacts">
    <div class="header-hidden">
      <h3 id="contacts">Contacts</h3>
      <h2 class="header-h2">Contacs</h2>
    </div>

    <div class="contacts-grid">
      <div class="contacts-grid__card">
        <div class="contacts-grid__min-card">
          <div class="contacts-grid__branch">
            <span class="contacts-grid__branch-name contacts-grid__branch-name--cafe">Cafe</span>
          </div>

          <div class="contacts-grid__min-card--margin-bottom">
            <div class="contacts-grid__town">Chicago</div>
            <p class="contacts-grid__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>

          <ul
            class="contacts-grid__list contacts-grid__min-card--line contacts-grid__min-card--margin-bottom"
          >
            <li><span class="contacts-grid__open-day">Monday - Friday</span></li>
            <li class="contacts-grid__item">
              <span class="contacts-grid__open-time">06:00 AM - 10:00 PM</span>
            </li>

            <li><span class="contacts-grid__open-day">Saturday - Sunday</span></li>
            <li class="contacts-grid__item">
              <span class="contacts-grid__open-time">08:00 AM - 16:00 PM</span>
            </li>
          </ul>

          <div class="contacts-grid__min-card--line">
            <a class="contacts-grid__link" href="tel:+610383766284"><p>+61(0) 383 766 284</p></a>
            <a class="contacts-grid__link" href="mailto:noreply@envato.com"
              ><p>noreply@envato.com</p></a
            >
          </div>
        </div>
      </div>

      <div class="contacts-grid__card">
        <div class="contacts-grid__min-card">
          <div class="contacts-grid__branch">
            <span class="contacts-grid__branch-name contacts-grid__branch-name--food-truck"
              >FoodTruck</span
            >
          </div>

          <div class="contacts-grid__min-card--margin-bottom">
            <div class="contacts-grid__town">Los Angeles</div>
            <p class="contacts-grid__description line-g-margin">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>

          <ul
            class="contacts-grid__list contacts-grid__min-card--line contacts-grid__min-card--margin-bottom"
          >
            <li><span class="contacts-grid__open-day">Monday - Friday</span></li>
            <li class="contacts-grid__item">
              <span class="contacts-grid__open-time">06:00 AM - 10:00 PM</span>
            </li>

            <li><span class="contacts-grid__open-day">Saturday - Sunday</span></li>
            <li class="contacts-grid__item">
              <span class="contacts-grid__open-time">08:00 AM - 16:00 PM</span>
            </li>
          </ul>

          <div class="contacts-grid__min-card--line">
            <a class="contacts-grid__link" href="tel:+610383766284"><p>+61(0) 383 766 284</p></a>
            <a class="contacts-grid__link" href="mailto:noreply@envato.com"
              ><p>noreply@envato.com</p></a
            >
          </div>
        </div>
      </div>

      <div class="contacts-grid__card">
        <div class="contacts-grid__min-card">
          <div class="contacts-grid__branch">
            <span class="contacts-grid__branch-name contacts-grid__branch-name--cafe">Cafe</span>
          </div>

          <div>
            <div class="contacts-grid__town">New York</div>
            <p class="contacts-grid__description contacts-grid__min-card--margin-bottom">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>

          <ul
            class="contacts-grid__list contacts-grid__min-card--line contacts-grid__min-card--margin-bottom"
          >
            <li><span class="contacts-grid__open-day">Monday - Friday</span></li>
            <li class="contacts-grid__item">
              <span class="contacts-grid__open-time">06:00 AM - 10:00 PM</span>
            </li>

            <li><span class="contacts-grid__open-day">Saturday - Sunday</span></li>
            <li class="contacts-grid__item">
              <span class="contacts-grid__open-time">08:00 AM - 16:00 PM</span>
            </li>
          </ul>

          <div class="contacts-grid__min-card--line">
            <a class="contacts-grid__link" href="tel:+610383766284"><p>+61(0) 383 766 284</p></a>
            <a class="contacts-grid__link" href="mailto:noreply@envato.com"
              ><p>noreply@envato.com</p></a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="contacts-button contacts-button--padding-bottom">

      <button class="btn-dark btn-dark--text-bold btn btn-location" type="button">
        Our Locations
        <svg class="btn-dark--svg btn-dark--margin-left-small">
          <use href="./images/icons.svg#icon-arrow-btn"></use>
        </svg>
      </button>
      <button class="btn-light btn-light--text-bold" type="button">
        Franchise
        <svg class="btn-light--svg btn-light--margin-left-small">
          <use href="./images/icons.svg#icon-arrow-btn"></use>
        </svg>
      </button>

    <div class="contacts__modal-backdrop is-hidden">
      <div class="contacts__modal">
        <button type="button" class="modal__btn">X</button>
        <iframe
        class="contacts__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.709221589692!2d20.98295643469552!3d52.23050050066551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc9ad1fa403d%3A0x959aed6956067e91!2sProsta%2051%2C%2000-838%20Warszawa!5e0!3m2!1spl!2spl!4v1658872992749!5m2!1spl!2spl"
    
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
          >
        </iframe>
      </div>      
    </div>
  </section>

  <script src="./js/contact-modal.js"></script>
</div>
