<section class="reviews">
  <div class="container">
    <h2 class="header-h2 header-h2--hidden">customer reviews</h2>
    <div class="reviews__testimonial">
      <div class="reviews__thumb"></div>
      <div class="reviews__text-box">
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="reviews__list reviews__list--margin-bottom">
        <svg class="reviews__icon-elipse reviews__icon-elipse--margin-left">
          <use href="./images/icons.svg#icon-elipse"></use>
        </svg>

        <svg class="reviews__icon-elipse reviews__icon-elipse--margin-left">
          <use href="./images/icons.svg#icon-elipse"></use>
        </svg>

        <svg class="reviews__icon-elipse reviews__icon-elipse--margin-left">
          <use href="./images/icons.svg#icon-elipse"></use>
        </svg>
      </div>
      <div>
        <p class="reviews__location reviews__location--margin-bottom">Emily, Los Angeles</p>
      </div>
      <div class="reviews__pagination">
        <svg class="reviews__icon-home reviews__icon-home--margin-left">
          <use href="./images/icons.svg#icon-home"></use>
        </svg>
        <svg class="reviews__icon-elipse-large reviews__icon-elipse-large--margin-left">
          <use href="./images/icons.svg#icon-elipse"></use>
        </svg>
        <svg class="reviews__icon-elipse-large reviews__icon-elipse-large--margin-left">
          <use href="./images/icons.svg#icon-elipse"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
