<div class="container container--bg-tertiary">
  <section class="footer">
    
    <div>
      <h3 class="header-h3">homemade ice cream made</h3>
      <h2 class="header-h2">with passion</h2>
    </div>

    <div class="footer-social-media">

      <ul class="footer-social-media__list">
        <li class="footer-social-media__item">
          <a class="footer-social-media__icon" href="https://github.com" target="_blank">
            <svg class="footer-social-media__svg">
              <use href="./images/icons.svg#icon-git"></use>
            </svg>
          </a>
        </li>

        <li class="footer-social-media__item">
          <a class="footer-social-media__icon" href="https://telegram.org" target="_blank">
            <svg class="footer-social-media__svg">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>

        <li class="footer-social-media__item">
          <a class="footer-social-media__icon" href="https://www.facebook.com" target="_blank">
            <svg class="footer-social-media__svg">
              <use href="./images/icons.svg#icon-fb"></use>
            </svg>
          </a>
        </li>
      </ul>

      <span class="footer-social-media__tel">Feel free to contact</span>
      <a class="footer-social-media__tel-link" href="tel:+610383766284"
        ><p>+61 (0) 383 766 284</p></a>

    </div>

    <div class="rights-reserved">
      <span class="rights-reserved__text">© 2019 - IceCream. All Rights Reserved.</span>
    </div>
    
  </section>
</div>
