<div class="container container--bg-tertiary">
  <section class="footer">
    <div class="footer__header">
      <h3 class="header-h3">homemade ice cream made</h3>
      <h2 class="header-h2">with passion</h2>
    </div>

    <div class="footer-social-media">
      <ul class="footer-social-media__list">
        <li class="footer-social-media__item">
          <a class="footer-social-media__icon" href="https://github.com" target="_blank">
            <svg class="footer-social-media__svg">
              <use href="./images/icons.svg#icon-git"></use>
            </svg>
          </a>
        </li>

        <li class="footer-social-media__item">
          <a class="footer-social-media__icon" href="https://telegram.org" target="_blank">
            <svg class="footer-social-media__svg">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>

        <li class="footer-social-media__item">
          <a class="footer-social-media__icon" href="https://www.facebook.com" target="_blank">
            <svg class="footer-social-media__svg">
              <use href="./images/icons.svg#icon-fb"></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="footer-social-media__tel">
        Feel free to contact
        <a class="footer-social-media__tel-link" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </p>
    </div>
  </section>
</div>
<section class="rights-reserved">
  <div class="container container--bg-tertiary">
    <div class="rights-reserved__text">© 2022 - IceCream. All Rights Reserved.</div>
  </div>
</section>
