<div class="container container--bg-tertiary">
  <section class="footer">
    <div>
      <h3 class="header-h3">homemade ice cream made</h3>
      <h2 class="header-h2">with passion</h2>
    </div>

    <div class="footer-social-media">


      <span class="footer-social-media__tel">Feel free to contact</span>
      <a class="footer-social-media__tel-link" href="tel:+610383766284"><p>+61 (0) 383 766 284</p></a>
      

    </div>

    <div class="rights-reserved">
      <span class="rights-reserved-text">© 2019 - IceCream. All Rights Reserved.</span>
    </div>


  </section>
</div>
