<!-- <div class="container container--bg-secondary overflow"> -->
  <section class="header" id="home">
  <div class="container relative">
  
    <img class="header__logo" src="./images/hero-header/logo-header.png" alt="logo" />
    <nav class="main-navigation">
      <ul class="main-navigation__list">
        <li class="main-navigation__item">
          <a href="#home" class="main-navigation__link">Home</a>
        </li>
        <li class="main-navigation__item">
          <a href="#about" class="main-navigation__link">About us</a>
        </li>
        <li class="main-navigation__item">
          <a href="#advantages" class="main-navigation__link">How it's made?</a>
        </li>
        <li class="main-navigation__item">
          <a href="#products" class="main-navigation__link">Our products</a>
        </li>
        <li class="main-navigation__item">
          <a href="#contacts" class="main-navigation__link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header__title-box">
      <h1 class="header-h1">
        ice cream made with <span class="header-h1 header-h1--accent">passion</span>
      </h1>
    </div>
    <div class="header__buttons">
      <a href="#products" class="btn-dark">Products</a>
      <a href="#about" class="btn-light btn-light--margin-left">How it's made?</a>
    </div>

    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="menu-toggle__icon">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>

    <section class="hero">
      <picture>
        <source
          srcset="
            ./images/hero-header/ice-cream-mobile-1.png 1x,
            ./images/hero-header/ice-cream-mobile-2.png 2x
          "
          media="(min-width: 320px), (max-width: 767px)"
        />
        <source
          srcset="
            ./images/hero-header/ice-cream-tablet-1.png 1x,
            ./images/hero-header/ice-cream-tablet-2.png 2x
          "
          media="(min-width: 768px), (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/hero-header/ice-cream-desktop-1.png 1x,
            ./images/hero-header/ice-cream-desktop-2.png 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          class="hero__background"
          src="./images/hero-header/ice-cream-desktop-2.png"
          alt="ice-cream"
        />
      </picture>
      <svg class="hero__ellipse">
        <use href="./images/icons.svg#icon-ellipse"></use>
      </svg>
      <picture>
        <source
          srcset="
            ./images/hero-header/so-tasty-tablet-1.png 1x,
            ./images/hero-header/so-tasty-tablet-2.png 2x
          "
          media="(min-width: 768px), (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/hero-header/so-tasty-desktop-1.png 1x,
            ./images/hero-header/so-tasty-desktop-2.png 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          class="hero__so-tasty"
          src="./images/hero-header/so-tasty-desktop-2.png"
          alt="girl eating ice-cream"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/hero-header/milk-tablet-1.png 1x,
            ./images/hero-header/milk-tablet-2.png 2x
          "
          media="(min-width: 768px), (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/hero-header/milk-desktop-1.png 1x,
            ./images/hero-header/milk-desktop-2.png 2x
          "
          media="(min-width: 1280px)"
        />
        <img class="hero__milk" src="./images/hero-header/milk-desktop-2.png" alt="jug of milk" />
      </picture>
      <div class="hero__milk-description">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>

        <p class="hero__milk-description-long" id="hero__milk-description-long">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa ex in dicta iste molestias cum veritatis, sapiente corrupti cupiditate tempora quo magnam, facilis incidunt itaque quibusdam perspiciatis fugit eaque earum nobis. Saepe iusto cupiditate ratione mollitia modi quidem! Deleniti, a cupiditate. Cum corrupti officiis ipsa aut incidunt ea. Adipisci, soluta?
        </p>

      </div>
      <button
        onclick="showMilkDescription()"
        class="hero__milk-button button-products button-products--hero"
        type="button"
      ></button>

      
      <div class="hero__number-box">

        <h1 class="header-h1 header-h1--numbers">16</h1>
        <p class="hero__text hero__text--in-number-box">cafes</p>
        
        <h1 class="header-h1 header-h1--numbers">23</h1>
        <p class="hero__text hero__text--in-number-box">food trucks</p>
         
      </div>
      <button class="btn-light btn-light--hero" type="button">
        Buy now
        <svg class="btn-light--svg btn-light--margin-left-big">
          <use href="images/icons.svg#icon-arrow-btn"></use>
        </svg>
      </button>
    </section>
  </section>
</div>

<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle__close-btn js-close-menu" type="button">
    <svg class="menu-toggle__close-btn-icon">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="mobile-navigation">
    <li>
      <button class="btn-light btn-light--mobile-menu" type="button">
        Buy now
        <svg class="btn-light--svg btn-light--margin-left-big">
          <use href="images/icons.svg#icon-arrow-btn"></use>
        </svg>
      </button>
    </li>
    <li class="mobile-navigation__item mobile-navigation__item--upper-border">
      <a class="mobile-navigation__link" href="#home">Home</a>
    </li>
    <li class="mobile-navigation__item">
      <a class="link mobile-navigation__link" href="#about">About us</a>
    </li>
    <li class="mobile-navigation__item">
      <a class="link mobile-navigation__link" href="#advantages">How it's made?</a>
    </li>
    <li class="mobile-navigation__item">
      <a class="link mobile-navigation__link" href="#products">Our products</a>
    </li>
    <li class="mobile-navigation__item">
      <a class="link mobile-navigation__link" href="#contacts">Contact</a>
    </li>
  </ul>
</div>


<script defer src="./mobile-menu.js"></script>

<script>
  function showMilkDescription() {
  var x = document.getElementById('hero__milk-description-long');
  if (x.style.display === 'none') {
    x.style.display = 'block';
  } else {
    x.style.display = 'none';
  }
}
</script> 
