<div class="container container--bg-secondary">
  <section class="header">
    <img class="header__logo" src="./images/hero-header/logo-header.png">
    <div class="header__title-box">
    <h1 class="header-h1">ice cream made with <span class="header-h1 header-h1--accent">passion</span></h1>
    </div>
    <div class="header__buttons">
    <button class="btn-dark" type="button">Products</button>
    <button class="btn-light btn-light--margin-left" type="button">How it's made?</button>
    </div>

    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu"></button>
      <svg class="menu-toggle__icon">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    <nav>

    </nav>
  <!-- <section class="hero-header">
    <img class="hero-header__logo" src="./images/hero-header/logo-header.png">
    <div class="hero-header__header">
    <h1 class="header-h1">ice cream made with <span class="header-h1 header-h1--accent">passion</span></h1>
    </div>
    <div class="hero-header__buttons">
    <button class="btn-dark" type="button">Products</button>
    <button class="btn-light btn-light--margin-left" type="button">How it's made?</button>
    </div>
    <picture>
      <source srcset="./images/hero-header/ice-cream-mobile-1.png 1x, ./images/hero-header/ice-cream-mobile-2.png 2x"
        media="(min-width: 320px) (max-width: 767px)">
      <source srcset="./images/hero-header/ice-cream-tablet-1.png 1x, ./images/hero-header/ice-cream-tablet-2.png 2x"
        media="(min-width: 768px) (max-width: 1279px)">
      <source srcset="./images/hero-header/ice-cream-desktop-1.png 1x, ./images/hero-header/ice-cream-desktop-2.png 2x"
        media="(min-width: 1280px)">
      <img class="hero-header__ice-cream" src="./images/hero-header/ice-cream-desktop-1.png">
    </picture>
    <div class="hero-header__ellipse"> -->
    <!-- <nav class="navbar">
      <a href="#" class="nav-branding"></a>
      <ul class="nav-menu">
        <li>
        <button class="btn-light btn-light--hamburger" type="button">Buy now
          <svg class="nav-button-icon">
            <use href="images/icons.svg#icon-arrow-btn"></use>
          </svg>
        </button>
        </li>
        <li class="nav-item nav-item--upper-border">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">About us</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">How it's made?</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Our products</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contact</a>
        </li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <button class="btn-light__hero" type="button">Buy now
        <svg class="nav-button-icon">
          <use href="images/icons.svg#icon-arrow-btn"></use>
        </svg>
      </button>
    </nav> -->
    <!-- <picture>
      <source srcset="./images/hero-header/so-tasty-tablet-1.png 1x, ./images/hero-header/so-tasty-tablet-2.png 2x"
        media="(min-width: 768px) (max-width: 1279px)">
      <source srcset="./images/hero-header/so-tasty-desktop-1.png 1x, ./images/hero-header/so-tasty-desktop-2.png 2x"
        media="(min-width: 1280px)">
      <img class="so-tasty" src="./images/hero-header/so-tasty-desktop-2.png">
    </picture>
    <picture>
      <source srcset="./images/hero-header/milk-tablet-1.png 1x, ./images/hero-header/milk-tablet-2.png 2x"
        media="(min-width: 768px) (max-width: 1279px)">
      <source srcset="./images/hero-header/milk-desktop-1.png 1x, ./images/hero-header/milk-desktop-2.png 2x"
        media="(min-width: 1280px)">
      <img class="milk" src="./images/hero-header/milk-desktop-1.png">
    </picture>
    <div class="milk__loremipsum">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      <img class="milk__icon" src="./images/hero-header/arrow-milk.png">
    </div>
    <div class="hero-numbers">
      <svg class="white-ellipse-1">
        <use href="./images/icons.svg#icon-white-ellipse"></use>
      </svg>
      <h1 class="header-h1 header-h1--numbers">16</h1>
      <p class="hero-numbers__text">cafes</p>
      <svg class="white-ellipse-2">
        <use href="./images/icons.svg#icon-white-ellipse"></use>
      </svg>
      <h1 class="header-h1 header-h1--numbers">23</h1>
      <p class="hero-numbers__text">food trucks</p>
    </div> -->
  </section>
</div>
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-toggle__close-btn">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="mobile-navigation">
    <li class="mobile-navigation__item">
      <a class="link" href="#">Home</a>
    </li>
    <li class="mobile-navigation__item">
      <a class="link" href="#">About us</a>
    </li>
    <li class="mobile-navigation__item">
      <a class="link" href="#">How it's made?</a>
    </li>
    <li class="mobile-navigation__item">
      <a class="link" href="#">Our products</a>
    </li>
    <li class="mobile-navigation__item">
      <a class="link" href="#">Contact</a>
    </li>
  </ul>
</div>
<script defer src="./mobile-menu.js"></script>
