<div class="container container--bg-secondary">
  <section class="hero-header">
    <img class="hero-header__logo" src="./images/hero-header/logo-header.png">
    <div class="hero-header__header">
    <h1 class="header-h1">ice cream made with <span class="header-h1 header-h1--accent">passion</span></h1>
    </div>
    <div class="hero-header__buttons">
    <button class="btn-dark" type="button">Products</button>
    <button class="btn-light btn-light--margin-left" type="button">How it's made?</button>
    </div>
    <picture>
      <source srcset="./images/hero-header/ice-cream-mobile-1.png 1x, ./images/hero-header/ice-cream-mobile-2.png 2x"
      media="(min-width: 320px)">
      <source srcset="./images/hero-header/ice-cream-tablet-1.png 1x, ./images/hero-header/ice-cream-tablet-2.png 2x"
      media="(min-width: 768px)">
      <source srcset="./images/hero-header/ice-cream-desktop-1.png 1x, ./images/hero-header/ice-cream-desktop-2.png 2x"
      media="(min-width: 1200px)">
      <img class="hero-header__ice-cream" src="./images/hero-header/ice-cream-mobile-1.png">
    </picture>
    <div class="hero-header__ellipse">
    </div>
  </section>
</div>
