<div class="container">
  <section class="products container">
    <h3 class="header-h3">100% natural</h3>
    <h2 class="header-h2 header-h2--padding">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <img class="products__img" alt="lody truskawkowe"
                  src="./images/products/mobil/home-pic11@.png"
                  
                  srcset ="./images/products/desktop/home-pic1.png 335w,
                  ./images/products/mobil/home-pic11@.png 249w,
                  ./images/products/mobil/home-pic12@.png 498w,
                  ./images/products/tablet/home-pic11@.png 220w,
                  ./images/products/tablet/home-pic12@.png 440w"
                  sizes="
                    (min-width: 1200px) 335px,
                    (min-width: 768px) 220px,
                    (min-width: 320px) 249px">
        <h3 class="products-h3">ice cream</h3>
        <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <img alt="strzałka w białym kole"
        src="./images/products/desktop/arrow-right 4.png">
      </li>
      <li class="products__item">
        <img class="products__img" alt="lody kawowe"
        src="./images/products/mobil/home-pic21@.png"
        
        srcset ="./images/products/desktop/home-pic2.png 335w,
        ./images/products/mobil/home-pic21@.png 249w,
        ./images/products/mobil/home-pic22@.png 498w,
        ./images/products/tablet/home-pic21@.png 220w,
        ./images/products/tablet/home-pic22@.png 440w"
        sizes="
          (min-width: 1200px) 335px,
          (min-width: 768px) 220px,
          (min-width: 320px) 249px">
        <h3 class="products-h3">ice coffee</h3>
        <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <img alt="strzałka w białym kole"
        src="./images/products/desktop/arrow-right 4.png">
      </li>
      <li class="products__item">
        <img class="products__img" alt="shakes kakaowy z bitą śmietaną"
        src="./images/products/mobil/home-pic31@.png"
        
        srcset ="./images/products/desktop/home-pic3.png 335w,
        ./images/products/mobil/home-pic31@.png 249w,
        ./images/products/mobil/home-pic32@.png 498w,
        ./images/products/tablet/home-pic31@.png 220w,
        ./images/products/tablet/home-pic32@.png 440w"
        sizes="
          (min-width: 1200px) 335px,
          (min-width: 768px) 220px,
          (min-width: 320px) 249px">
        <h3 class="products-h3">milkshakes</h3>
        <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <img alt="strzałka w białym kole"
        src="./images/products/desktop/arrow-right 4.png">
      </li>
    </ul>
    
  </section>

</div>
