<section class="products" id="products">
  <div class="container__products">
    <h3 class="header-h3 header-h3--center">100% natural</h3>
    <h2 class="header-h2 header-h2--padding">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--ice-cream">
        <img
          class="products__img"
          alt="lody truskawkowe"
          src="./images/products/mobil/home-pic11@.png"
          srcset="
            ./images/products/desktop/home-pic1.png  329w,
            ./images/products/mobil/home-pic11@.png  249w,
            ./images/products/mobil/home-pic12@.png  498w,
            ./images/products/tablet/home-pic11@.png 220w,
            ./images/products/tablet/home-pic12@.png 440w
          "
          sizes="
                    (min-width: 1200px) 329px,
                    (min-width: 768px) 220px,
                    (min-width: 320px) 249px"
        />
        <h3 class="products-h3">ICE CREAM</h3>
        <ul class="products__circle-list">
          <li class="products__circle"></li>
          <li class="products__circle"></li>
          <li class="products__circle"></li>
        </ul>
        <p class="products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="button-products" type="button"></button>
      </li>
      <li class="products__item products__item--ice-coffee">
        <img
          class="products__img"
          alt="lody kawowe"
          src="./images/products/mobil/home-pic21@.png"
          srcset="
            ./images/products/desktop/home-pic2.png  329w,
            ./images/products/mobil/home-pic21@.png  249w,
            ./images/products/mobil/home-pic22@.png  498w,
            ./images/products/tablet/home-pic21@.png 220w,
            ./images/products/tablet/home-pic22@.png 440w
          "
          sizes="
          (min-width: 1200px) 329px,
          (min-width: 768px) 220px,
          (min-width: 320px) 249px"
        />
        <h3 class="products-h3">ICE COFFEE</h3>
        <ul class="products__circle-list">
          <li class="products__circle"></li>
          <li class="products__circle"></li>
          <li class="products__circle"></li>
        </ul>
        <p class="products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="button-products" type="button"></button>
      </li>
      <li class="products__item products__item--shakes">
        <img
          class="products__img"
          alt="shakes kakaowy z bitą śmietaną"
          src="./images/products/mobil/home-pic31@.png"
          srcset="
            ./images/products/desktop/home-pic3.png  329w,
            ./images/products/mobil/home-pic31@.png  249w,
            ./images/products/mobil/home-pic32@.png  498w,
            ./images/products/tablet/home-pic31@.png 220w,
            ./images/products/tablet/home-pic32@.png 440w
          "
          sizes="
          (min-width: 1200px) 329px,
          (min-width: 768px) 220px,
          (min-width: 320px) 249px"
        />
        <h3 class="products-h3">MILKSHAKES</h3>
        <ul class="products__circle-list">
          <li class="products__circle"></li>
          <li class="products__circle"></li>
          <li class="products__circle"></li>
        </ul>
        <p class="products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="button-products" type="button"></button>
      </li>
    </ul>
  </div>
</section>
