<div class="container">
  <section class="products">
    <h3 class="header-h3">100% natural</h3>
    <h2 class="header-h2">products</h2>
    <ul>
      <li>
        <img alt="lody truskawkowe"
                    src="./images/products/mobil/home-pic11@.png"
                    srcset="
                    images/products/desktop/home-pic1.png 335w,
                    images/products/mobil/home-pic11@.png 450w,
                    images/products/mobil/home-pic12@.png 900w,
                    images/products/tablet/home-pic11@.png 220w,
                    images/products/tablet/home-pic12@.png 440w">
        <h3>ice cream</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <svg></svg>
      </li>
      <li>
        <img alt="lody kawowe"
                    src="images/products/mobil/home-pic21@.png"
                    srcset="
                    images/products/desktop/home-pic2.png 270w,
                    images/products/mobil/home-pic21@.png 450w,
                    images/products/mobil/home-pic22@.png 900w,
                    images/products/tablet/home-pic21@.png 354w,
                    images/products/tablet/home-pic22@.png 708w">
        <h3>ice coffee</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <svg></svg>
      </li>
      <li>
        <img alt="shakes czekoladowy zbitą śmietaną"
                    src="images/products/mobil/home-pic31@.png"
                    srcset="
                    images/products/desktop/home-pic3.png 270w,
                    images/products/mobil/home-pic31@.png 450w,
                    images/products/mobil/home-pic32@.png 900w,
                    images/products/tablet/home-pic31@.png 354w,
                    images/products/tablet/home-pic32@.png 708w">
        <h3>milkshakes</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <svg></svg>
      </li>
    </ul>
  </section>
</div>
