// -----------------------------------------------------------------------------
// This file contains all styles related to the about of the site/application.
// For media breaks look in _variables.scss
// -----------------------------------------------------------------------------

// Mobile 320-768//
.about {
  padding-top: 125px;
  text-align: center;

  &__image {
    display: block;
    max-width: 100%;
  }

  &__left-section {
    width: 100%;
    margin-bottom: 46px;
  }

  &__right-section {
    width: 100%;
    padding: 0 30px;
  }

  &__text {
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    font-family: $text-font-stack;
    color: $color-text-secondary;
    margin-bottom: 15px;

    &::selection {
      color: $color-text-tertiary;
      background-color: $color-button-primary;
    }

    &--bold {
      color: $color-text-primary;
      margin-top: 5px;
      margin-bottom: 30px;
    }
  }
}

.about__modal {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  background-color: $color-bg-body-tertiary;
  color: $color-text-primary;
  position: absolute;
  width: calc(100% - 50px);
  max-height: calc(100% - 50px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 30px;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    background: $color-bg-body-tertiary;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  &__btn {
    color: $color-text-tertiary;
    background-color: $color-bg-mobile-menu;
    outline: none;
    border: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 11px;
    right: 11px;
    cursor: pointer;
    padding: 0;
    position: absolute;
    font-size: 13px;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
      box-shadow: 1px 1px 3px $color-text-primary;
    }

    &:active {
      box-shadow: inset 1px 1px 1px $color-text-primary, 1px 1px 3px $color-text-primary;
    }
  }

  &__svg {
    position: absolute;
    top: 30%;
  }
}

// Tablet 768-1280//

@media screen and (min-width: $tablet) {
  .about {
    padding-top: 130px;
    padding-bottom: 66px;

    &__left-section {
      width: 50%;
      padding-top: 50px;
      float: left;
    }

    &__right-section {
      width: 50%;
      padding-top: 100px;
      float: left;
    }

    &__text {
      font-size: 14px;
      line-height: 1.76;
    }
  }

  .modal {
    width: calc(100% - 200px);

    &__btn {
      width: 28px;
      height: 28px;
      font-size: 16px;
    }
  }
}

// Desktop 1280+//

@media screen and (min-width: $desktop) {
  .about {
    padding-bottom: 40px;

    &__left-section {
      width: 50%;
      padding-top: 55px;
      min-height: 500px;
    }

    &__right-section {
      min-height: 500px;
      padding-top: 106px;
    }

    &__text {
      line-height: 1.94;
      &--bold {
        font-size: 16px;
        line-height: 1.76;
        letter-spacing: 0.04em;
      }
    }
  }

  .modal {
    width: calc(100% - 250px);
    overflow-y: hidden;
  }
}

