// -----------------------------------------------------------------------------
// This file contains all styles related to the about of the site/application.
// For media breaks look in _variables.scss
// -----------------------------------------------------------------------------



// Mobile 320-768//
.about {
  padding-top: 125px;
  text-align: center;

  &__image {
    display: block;
    max-width: 100%;
  }

  &__left-section {
    width: 100%;
    margin-bottom: 46px;
  }

  &__right-section {
    width: 100%;
    padding: 0 30px;
  }

  &__text {
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    font-family: $text-font-stack;
    color: $color-text-secondary;
    margin-bottom: 15px;

    &--bold {
      color: $color-text-primary;
      margin-bottom: 30px;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 14px;
  }
}
// Tablet 768-1280//
@media screen and (min-width: $tablet) {
  .about {
    padding-top: 130px;
    padding-bottom: 66px;

    &__left-section {
      width: 50%;
      padding-top: 50px;
      float: left;
    }

    &__right-section {
      width: 50%;
      padding-top: 100px;
      float: left;
    }

    &__text {
      font-size: 14px;
      line-height: 1.76;
    }
  }
}

// Desktop 1280+//
@media screen and (min-width: $desktop) {
  .about {
    padding-bottom: 40px;

    &__left-section {
      width: 50%;
      padding-top: 55px;
      min-height: 500px;
    }

    &__right-section {
      min-height: 500px;
      padding-top: 106px;
    }

    &__text {
      line-height: 1.94;
      &--bold {
        font-size: 16px;
        line-height: 1.76;
        letter-spacing: 0.04em;
      }
    }
  }
}