// -----------------------------------------------------------------------------
// This file contains all styles related to the container component.
// For media breaks look in _variables.scss
// -----------------------------------------------------------------------------

// Mobile 320-768//
.container {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding-mobile;
  padding-right: $container-padding-mobile;
  width: 100%;

  &--bg-secondary {
    background-color: $color-bg-body-secondary;
    height: 502px;
  }

  &--bg-tertiary {
    background-color: $color-bg-body-tertiary;
  }

  &--bg-gr-tertiary {
    background: linear-gradient(
      180deg,
      $color-bg-body-tertiary,
      $color-bg-body-tertiary 39.5%,
      $color-bg-body-primary 39.5%,
      $color-bg-body-primary 100%
    );
  }

  &--about-bg-milk {
    background-image: $about-bg-img;
    @include retina {
      background-image: $about-bg-img-2x;
    }

    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 90%;
  }
}

// Tablet 768-1280//
@media screen and (min-width: $tablet) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding-tablet;
    padding-right: $container-padding-tablet;
    width: 100%;

    &--bg-secondary {
      height: 399px;
    }

    &--about-bg-milk {
      background-image: none;
    }
  }
}

// Desktop 1280+//
@media screen and (min-width: $desktop) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding-desktop;
    padding-right: $container-padding-desktop;
    width: 100%;

    &--bg-secondary {
      padding-left: 0;
      padding-right: 0;
      height: 665px;
    }

    &--about-bg-milk {
      background-image: url('../../src/images/about/about-background-desktop-@1X-1280x534.png');

      @include retina {
        background-image: url('../../src/images/about/about-background-desktop-@2X-2560x1068.png');
      }

      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 90%;
    }
  }
}
