// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// For media breaks look in _variables.scss
// -----------------------------------------------------------------------------

// Mobile 320-768//
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 43px;
  padding-bottom: 43px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

}

.footer-social-media {
  display: flex;
  flex-direction: column;
  gap: 46px;

  &__list {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    align-items: center;
    gap: 28px;
    justify-content: center;
    list-style-type: none;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $color-footer-icon-primary;
    fill: $color-button-secondary;

    &:hover {
      background-color: $color-footer-icon-secondary;
    }
  }

  &__svg {
    width: 20px;
    height: 20px;
  }

  &__tel {
    color: $color-text-primary;
    font-family: $text-font-stack;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.83;
    display: block;

  }

  &__tel-link {
    color: $color-brand-primary;
    font-family: $text-font-stack;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.83;
  }
}

.rights-reserved {
  width: 100%;
  text-align: center;

  &__text {
    color: $color-text-secondary;
    font-family: $text-font-stack;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    padding: 25px 50px;
  }
}

// Tablet 768-1280//
@media screen and (min-width: $tablet) {
  .footer {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 91px;
  

      &__header {
        flex-direction: column;
        flex-basis: 50%;
        gap: 15px;
      }
  }

  .footer-social-media {
    &__list {
      justify-content: end;
      flex-basis: 50%;
    }

    &_icon {
      &:nth-child(1) {
        margin-right: 30px;
      }
    }
  }

  .rights-reserved {

    &__text {
      padding: 23.5px;
    }
  }
}


// Desktop 1280+//
@media screen and (min-width: $desktop) {
  .footer-social-media {
    gap: 50px;

    &_icon {
      &:nth-child(1) {
        margin-right: 24px;
      }
    }

    &__tel {
      font-size: 16px;
      line-height: 1.875;


    }

    &__tel-link {
      font-size: 16px;
      line-height: 1.875;
    }
  }

  .rights-reserved {

    &__text {
      padding: 10px 0;
    }
  }
}
