// -----------------------------------------------------------------------------
// This file contains all styles related to the gallery of the site/application.
// For media breaks look in _variables.scss
// -----------------------------------------------------------------------------

// Mobile 320-768//

.gallery {
  background: linear-gradient(
    180deg,
    $color-bg-body-tertiary,
    $color-bg-body-tertiary 39.5%,
    $color-bg-body-primary 39.5%,
    $color-bg-body-primary 100%
  );
}

.img {
  display: block;
  max-width: 100%;
}

// Tablet 768-1280//
@media screen and (min-width: $tablet) {
}

// Desktop 1280+//
@media screen and (min-width: $desktop) {
}
