// -----------------------------------------------------------------------------
// This file contains all styles related to the hero header of the site/application.
// For media breaks look in _variables.scss
// -----------------------------------------------------------------------------

//
// Mobile 320-768//
.header {

    &__logo {
        padding-top: 6px;
    }

    &__title-box {
        padding-top: 137px;
        width: 218px;
    }

    &__buttons {
        padding-top: 19px;
    }
}


@media screen and (min-width: $tablet) {

}

@media screen and (min-width: $desktop) {
    
}

// STARA WERSJA //////////////////////////////////////////////////////////////////

// .hero-header {
//     padding-top: 6px;
//     width: 100%;


//     &__logo {
//         z-index: 999;
//         position: absolute;
//     }

//     &__header {
//         width: 218px;
//         z-index: 998;
//         position: relative;
//         top: 193px
//     }

//     &__buttons {
//         margin-top: 19px;
//         z-index: 997;
//         position: relative;
//         top: 186px;
//     }

//     &__ice-cream {
//         z-index: 996;
//         top: 92px;
//         left: 36.5%;
//         position: absolute;
//         width: 171px;
//         height: 410px;
        
//     }

//     &__ellipse {
//         z-index: 995;
//         width: 324px;
//         height: 322px;
//         border-radius: 50%;
//         background-color: $color-brand-secondary;
//         position: absolute;
//         left: 40%;
//         top: 31px;
//     }
// }

// @media screen and (max-width: 767px) {
//     .hero-header {

//         &__ellipse {
//             display: none;
//         }
//     }

//     .so-tasty {
//         display: none;
//     }

//     .milk {
//         display: none;

//         &__loremipsum {
//             display: none;
//         }
//     }

//     .hero-numbers {
//         display: none;
//     }

//     .white-ellipse {
//         display: none;
//     }
// }

// // Tablet 768-1280//
// @media screen and (min-width: $tablet) {
//     .hero-header {
//         padding-top: 37px;

//         &__header {
//             width: 162px;
//             top: 65px;
//         }

//         &__buttons {
//             top: 63px;
//         }

//         &__ice-cream {
//             width: 143px;
//             height: 336px;
//             left: 49.2%;
//             top: 63px;
//         }
//     }

//     .so-tasty {
//         position: absolute;
//         z-index: 999;
//         left: 73.7%;
//         top: 266px;
//         width: 168px;
//         height: 133px;
//     }

//     .milk {
//         position: absolute;
//         z-index: 999;
//         left: 4.4%;
//         top: 245px;
//         width: 124px;
//         height: 126px;

//         &__loremipsum {
//             position: absolute;
//             z-index: 999;
//             left: 20%;
//             top: 292px;
//             display: block;
//             width: 114px;
//             height: 48px;
//             font-weight: 400;
//             font-size: 8px;
//             line-height: 150%;
//             color: $color-contacts-bg;
//         }

//         &__icon {
//            width: 18px;
//            height: 18px;
//            margin-top: 6px;
//         }
//     }

//     .hero-numbers {
//         position: absolute;
//         left: 88%;
//         top: 99px;
//         text-align: end;

//         &__text {
//             margin-bottom: 13px;
//             font-weight: 400;
//             font-size: 8px;
//             line-height: 150%;
//             color: $color-contacts-bg;
//         }
//     }

//     .white-ellipse-1 {
//         position: absolute;
//         z-index: 990;
//         width: 14px;
//         height: 14px;
//         left: 82%;
//     }

//     .white-ellipse-2 {
//         position: absolute;
//         z-index: 990;
//         width: 14px;
//         height: 14px;
//         left: 82%;
//     }
// }

// // Desktop 1280+//
// @media screen and (min-width: $desktop) {

// .hero-header {

//     padding-top: 37px;

//     &__logo {
//         position: relative;
//         left: -70px;
//     }

//     &__header {
//         position: relative;
//         width: 277px;
//         top: 84px;
//         left: -1px;
//     }

//     &__buttons {
//         margin-top: 0;
//         position: relative;
//         left: -1px;
//         top: 107px;

//     }

//     &__ice-cream {
//         position: relative;
//         width: 236px;
//         height: 557px;
//         top: -166px;
//         left: 475px;
//     }

//     &__ellipse {
//         position: relative;
//         top: -779px;
//         left: 365px;
//         width: 538px;
//         height: 538px;
//         border-radius: 50%;
//         background-color: $color-brand-secondary;

//     }
// }

//    .so-tasty {
//         position: relative;
//         left: 760px;
//         top: -983px;
//         width: 293px;
//         height: 232px;
//     }

//     .milk {
//         position: relative;
//             left: -330px;
//             top: -1025px;
//             width: 188px;
//             height: 191px;

//         &__loremipsum {
//             position: relative;
//             left: 185px;
//             top: -1160px;
//             display: block;
//             width: 200px;
//             height: 78px;
//             font-size: 14px;
//             line-height: 140%;
//         }

//         &__icon {
//            width: 26px;
//            height: 26px;
//            margin-top: 14px;
//         }
//     }

//     .hero-numbers {
//         position: relative;
//         left: 0;
//         top: -1575px;
//         text-align: end;

//         &__text {
//             margin-bottom: 13px;
//             font-size: 14px;
//             line-height: 18px;
//         }
//     }

//     .white-ellipse-1 {
//         position: absolute;
//         z-index: 990;
//         left: 99%;
//         top: -3px;
//         width: 30px;
//         height: 30px;
//     }

//     .white-ellipse-2 {
//         position: absolute;
//         z-index: 990;
//         left: 99%;
//         top: 82px;
//         width: 30px;
//         height: 30px;
//     }
// }