// -----------------------------------------------------------------------------
// This file contains all styles related to the hero header of the site/application.
// For media breaks look in _variables.scss
// -----------------------------------------------------------------------------

//
// Mobile 320-768//
.header {
  background-color: $color-bg-body-secondary;
  min-height: 502px;

  &__logo {
    padding-top: 6px;
  }

  &__title-box {
    position: relative;
    z-index: 992;
    padding-top: 137px;
    width: 218px;
  }

  &__buttons {
    position: relative;
    z-index: 992;
    padding-top: 19px;
  }
}

.hero {
  &__background {
    position: absolute;
    z-index: 990;
    left: 37%;
    top: 92px;
    width: 171px;
    height: 410px;
  }

  &__ellipse {
    position: absolute;
    z-index: 989;
    left: 11.25%;
    top: 83px;
    width: 346px;
    height: 344px;
  }

  &__so-tasty {
    display: none;
  }

  &__milk {
    display: none;
  }

  &__milk-description {
    display: none;
    position: relative;
  }

  &__milk-description-long {
    position: absolute;
    background-color: $color-bg-body-tertiary;
    color: $color-text-primary;
    z-index: 1000;
    left: 50px;
    bottom: -50px;
    min-width: 250px;
    padding: 15px;
    border-radius: 5px;
    line-height: 1.3;
    border: 2px solid $color-bg-mobile-menu;
    transition: all 0.4s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      background-color: $color-bg-body-tertiary;
      left: -11px;
      bottom: 15px;
      z-index: 999;
      border-left: 2px solid $color-bg-mobile-menu;
      border-bottom: 2px solid $color-bg-mobile-menu;
    }
  }

  &__milk-button {
    display: none;
  }

  &__number-box {
    display: none;
  }

  &__number-circle {
    display: none;
  }
}

@media screen and (min-width: $tablet) {
  .header {
    min-height: 399px;

    &__logo {
      padding-top: 37px;
    }

    &__title-box {
      padding-top: 15px;
      width: 162px;
    }
  }

  .hero {
    &__background {
      left: 49%;
      top: 63px;
      width: 143px;
      height: 336px;
    }

    &__ellipse {
      left: 40%;
      top: 31px;
      width: 324px;
      height: 322px;
    }

    &__so-tasty {
      display: block;
      position: absolute;
      z-index: 990;
      left: 74%;
      top: 266px;
      width: 168px;
      height: 133px;
      animation: slide-left 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    &__milk {
      display: block;
      position: absolute;
      left: 3%;
      top: 245px;
      width: 124px;
      height: 126px;
      animation: slide-right 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    &__milk-description {
      display: block;
      width: 114px;
      height: 48px;
      margin-top: 42px;
      margin-left: 15.6%;
    }

    &__milk-button {
      display: block;
      margin-top: 7px;
      margin-left: 15.6%;
    }

    &__number-box {
      display: block;
      position: absolute;
      left: 91%;
      top: 94px;
    }

    &__text {
      display: block;
      font-weight: 400;
      font-size: 8px;
      line-height: 150%;
      color: $color-text-tertiary;
      margin-bottom: 8px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .header {
    min-height: 665px;

    &__logo {
      margin-left: -69px;
    }

    &__title-box {
      width: 277px;
      height: 137px;
      margin-top: 54px;
    }

    &__buttons {
      margin-top: 25px;
    }
  }

  .hero {
    &__background {
      width: 236px;
      height: 557px;
      left: 594px;
      top: 108px;
    }

    &__ellipse {
      width: 538px;
      height: 538px;
      left: 475px;
      top: 52px;
    }

    &__so-tasty {
      width: 293px;
      height: 232px;
      left: 878px;
      top: 433px;
    }

    &__milk {
      width: 188px;
      height: 191px;
      left: 77px;
      top: 429px;
    }

    &__milk-description {
      width: 200px;
      height: 78px;
      margin-top: 110px;
    }

    &__milk-button {
      margin-top: 12px;
    }

    &__number-box {
      left: 1111px;
      top: 156px;
    }

    &__text {
      font-size: 14px;
      line-height: 140%;
    }
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(110px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-90px);
    opacity: 0;
  }

  50% {
    transform: translateX(-90px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
